body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cfcfcf;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 50%;
    padding: 8px;
    margin: 5px auto;
    box-sizing: border-box;
    display: block;
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin: 10px auto;
    display: block;
}

button {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 15px auto;
    background-color: #11432a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0e1611;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 85%;
}

.section {
    width: 60%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.message-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.message {
    background-color: #ffdddd;
    color: red;
    border: 1px solid #f5c2c2;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    text-align: center;
    margin: 20px auto;
    font-weight: bold;
}

.upute {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
}

.captcha-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.disabled-form {
    pointer-events: none;
    opacity: 0.5;
}

